@import url("./nav.css");
@import url("./footer.css");


  
.content {
	padding: 0 var(--page-padding);
	display: flex;
	flex-direction: column;
	width: 100vw;
	min-height: 100vh;
	position: relative;
	justify-content: center;
	align-items: start;
	font-family: "greycliff-cf", sans-serif;
	font-weight: 300;		
}

.content h2 {
	font-size: 20vw;
	line-height: 1;
	margin: 0;
	pointer-events: none;
	background-color: var(--gradient-text-1);
	background-image: linear-gradient(45deg, var(--gradient-text-1), var(--gradient-text-2));
	background-size: 100%;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	margin-top: 5%;
}

.content h2 i {
	font-family: "lores-9-plus-wide", sans-serif;
	font-weight: 400;
	font-style: normal;
	letter-spacing: -1.75vw;
	font-size: 14.25vw;
}

.content p {
	margin: 3vh 0 0 0;
	max-width: 30ch;
	font-weight: 400;
	font-size: clamp(1.5rem,2vw,2rem);
	font-variation-settings: "wght" 400, "opsz" 72, "ital" 0;
	pointer-events: none;
	color: rgba(205, 188, 188);
}

.cursor {
    height: 100%;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 99;
    mix-blend-mode: var(--cursor-blend-mode);
    --size: calc(100vw / var(--columns));
    display: none; 
}
main:hover ~ .cursor{
	display: block;
}
.cursor__inner {
	display: grid;
	grid-template-columns: repeat(var(--columns), var(--size));
}

.cursor__inner-box {
	width: var(--size);
	height: var(--size);
	background: var(--cursor-bg);
	opacity: 0;
	border-radius: var(--cursor-radius);
}
.robo-content{
	position: absolute;
	right: -85%;
	top: 80px;
	z-index: 9;
	scale: 1.2;
}
#model-container { width: 100vw; height: 100vh; }
@media screen and (min-width: 53em) {
	:root {
		--columns: 30;
		--page-padding: 2rem;
	}
	.frame {
		grid-template-columns: auto auto auto 1fr;
		grid-template-areas: 'title prev sponsor demos';
		justify-items: start;
		grid-gap: 2rem;
	}
	.frame__demos {
		justify-self: end;
	}
	.frame__demos-item:first-child {
		width: auto;
	}
	.content {
		align-items: center;
	}
}



.button-register {
    background-color: #000000; 
    color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s ease;

}


.vutton-custine {
    font-family: "source-code-pro", monospace;
    border: 2px solid #cea167; 
    padding: 10px 10px; 
	font-size: clamp(12px, 2.5vw, 17px);    
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    transform: translate(-7px, 3px); 
	transition: transform 0.4s ease;
}

.new:hover .vutton-custine {
	transform: translate(0px, 0px) scale(1.1); 


}
.new:hover .new1{
	border: none;
}
.new1, .vutton-custine {
    border: 2px solid #cea167; 
    height: 45px; 
    width: 100px; 
}

@media (max-width: 1672px) {
    .new1, .vutton-custine {
        height: 40px; 
        width: 90px;
    }

    .vutton-custine {
        font-size: 12px; 
	}
}

.up
{
	margin-top: -13px;
}
/* 3d content */

@media  screen and (max-width:768px) {
	.frame__demos{
		display: none;
		position: absolute;
		flex-direction: column;
		background: rgba(0, 0, 0, 0.8);
        text-align: center;
	}
	.frame__demos-item{
		font-size: clamp(18px,3vw,32px);
		margin-bottom: 10px;
	}
	.up{
		display: flex;
		justify-content: center;
		margin-top: 10px;
	}
	.vutton-custine{
        border: none;
		transform: translate(0,0);
		background: none;
	}
	.new1{
		border: none;
	}
	.new{
		padding: 5px 20px;
		border: 1px solid #cdbcbc;
		background: #cea167;
	}
	.frame__demos-item::before{
		animation: none;
	}
	.frame__title img{
		width: 120px;
		height: 90px;
	}
	.frame__title{
		flex-basis:75% ;
	}
	.nav-icon{
		display: block;
		z-index: 9999;
	}
}